/* 

.c{
   border: 1px solid black;
   margin: 5px;
   width: 400px;
  
   justify-content: center;
   align-items: center;
}
.div{
  color: white;
}

.card{
   background-color: yellow;
} */

/* body{
   background-color: wheat;
} */
body{
   background-color: wheat;
}

.list{
   list-style: none;
   padding: 0;
   margin: auto;
   min-height: 100vh;
  
  
}

.item{
   margin: 1rem;
   border-radius: 5px;
   padding : 3rem;
   box-shadow: -3px 3px 5px 0px #86868665;
   border: 1px solid #f8d8f8
}

/* @media only screen and (mim-width: 600px) {
     .list{
         display: flex;
         flex-wrap: wrap;
         background-color: wheat;
     }
   .item{
      width: 200px;
   }
 } */


 
@media only screen and (max-width: 600px) {
   body {
     background-color: lightblue;
   }
 }